@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");

@import "tailwindcss";

:root {
  /* Primär färg för knappar, headers, highlights */
  /* --color-primary: #6618c6; */
  --color-primary: #163952;

  /* --color-primary-hover: #6719c8e6; */
  --color-primary-hover: #163952f3;

  /* --color-primary-light: #8a4fd2; */
  --color-primary-light: #2a5975;
  --color-primary-dark: #071b2a;

  /* Accentfärg för små detaljer och text */
  --color-accent: #f96a1d;
  --color-accent-light: #fb965f;
  --color-accent-dark: #fc4c01;
  --color-accent-secondary: #1aece3;

  /* Bakgrundsfärger */
  --color-bg-primary: #fffcf9;
  --color-bg-secondary: #fdf8e1;
  /* --color-bg-secondary: #a497aa; */
  /* --color-bg-secondary: #e7e4eb; */
  /* --color-bg-secondary: #8eacd2; */
}

main {
  background-color: var(--color-bg-primary);
}

h2 {
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--color-primary-dark);
}

h3 {
  font-size: 1.3rem;
  font-weight: 500;
  /* color: var(--color-primary-dark); */
}

h4 {
  font-size: 1rem;
  font-weight: 500;
}

li {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.hero {
  background-image: url("@/assets/images/hero.jpg");
}

/* .bungee-spice-regular {
  font-family: "Londrina Outline", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
  color: #fc4c01;
  text-shadow: 2px 4px 10px rgb(0, 0, 0);
} */
