@import "tailwindcss";

:root {
  /* Primär färg för knappar, headers, highlights */
  --color-primary: #6618c6;
  --color-primary-hover: #6719c8e6;
  --color-primary-light: #8a4fd2;

  /* Accentfärg för små detaljer och text */
  --color-accent: #f96a1d;
  --color-accent-light: #fb965f;
  --color-accent-dark: #fc4c01;
  /* --color-accent-secondary: #1aece3; */

  /* Bakgrundsfärger */
  --color-bg-primary: #fffcf9;
  --color-bg-secondary: #fdf2f9;
}

main {
  background-color: var(--color-bg-primary);
}

h2 {
  font-size: 1.7rem;
  font-weight: 500;
}

h3 {
  font-size: 1.3rem;
  font-weight: 500;
}

h4 {
  font-size: 1rem;
  font-weight: 500;
}

li {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.hero {
  background-image: url("@/assets/images/hero.jpg");
}
